 <%#= form_for @topic ,:url => {:action => 'update',:id => subject,:controller=> 'subjects'} do |f| %>
                         <!-- <div class ="row">
                            <div class = "col l6 offset-l1">    
                              <%= f.text_field :name ,:value=> topic.name %>
                              
                                 </div> -->
                  <<!-- div class="two">
               <%= link_to "mode_edit",subject,method: :update,:class => "fixed-action-btn horizontal large material-icons" ,id:"edit"%>
                <%= link_to "delete",subject,method: :delete, :class => "fixed-action-btn horizontal large material-icons" ,id:"delete" %>
               
                
              
                </div> -->
                <h1>Topics#update</h1>
<p>Find me in app/views/topics/update.html.erb</p>
