<div class="row">
        <!-- <div class="col s1 offset-s1">Subject</div> -->
  <div class="col s1 offset-s1">Subject</div>
      <div class="ccol s1 offset-s1">
          
            <!-- <div class="col s1 offset-s1"> -->
           <div  class =" right btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i>
         
        </div>
</div>
</div><hr>




<%= form_for @subject do |f| %>
<div class = "subjects">
<%= f.text_field :name %>
<div class ="submit">
  <!-- <div  class ="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i>
  <%= f.submit %></div> -->


</div>
 </div> 
<% end %>

 