
<%= form_for @subject do |f| %>
<div class = "fields">
<%= f.text_field :name ,id:"subjectfields"%>


<!-- <div class ="submit"> -->


  <div class ="submit btn-floating btn-large waves-effect waves-light blue" id="subjectbutton">
  <%= f.submit '+',class:"material-icons",id:"submit" %>
  	
  </div>
</div>
</div>
<% end %>


 