@import "materialize";
form {
    input {
    z-index: 1;
  }
  label {
      z-index: -1;
  }
}
nav ul a{
	font-size: 2.1rem !important;
	padding: 0px 54px !important;
}

.border{

    border: 1px solid grey;

}
// .new_subject{
//   display:none;
// }

#width {
    float: right;
        margin-right: 3.5em;
  }
   .card-panel {
    /* transition: box-shadow .25s; */
    /* padding: 20px; */
     // margin: 0.5rem 0 1rem 0 !important;
    /* border-radius: 2px; */
    background-color: #fff;
    // border: 1px solid grey;
    width: 94%;
    margin: 0 0 0 4em !important                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
}
 

 .collapsible li.active i {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}


.fixed-action-btn {
      position: initial !important;
  
}
#edit{
      padding-right: 1em;
    width: 12%;
    float: left;
    font-size: 3em;
}
#fieldedit{
      padding-right: 1em;
    width: 12%;
    float: left;
    font-size: 3em;
}
#delete{
         float:right;
         font-size: 3em;
    // padding-right: 2em;
}
.two{
      // padding-right: 2.1em;
    float: left;
    // width: 0%;
     }

#submit
  {
    width: 40px;
  
    font-size: 2em;

    // padding-top: 0.3em;
  }
.fields{
  border: 1px solid grey;
    width: 94%;
    margin-left: 4em;

}
#subjectfields{
  width:93%;
  margin-left: 1.5em;
  }
.row {
      margin-bottom: 0px;
    }
.newsubject{
  border-bottom: 2px solid grey;

  }
.row .col.offset-l1 {
     margin-left: 0px; 
}
#subjectbutton{
    width: 40px;
    height: 44px;
}
.collapsible {
    border-top: 1px solid grey;
    /* border-right:0px */
    /* border-left: 1px solid #ddd; */
    margin: 0 0 0 4em;
    width: 94%;
    
}
.renderform{
  display:none;
}
#button{
      width: 43px;
    height: 40px;
    margin-left:2em;
}
// h3{
//   font-size: 1em;
// }
// .insideform{
//   margin-top:2em;
//     width: 15%;
//     float: right;
//   }
 
#subjects{
       font-size:2.3em;
  }
  .newstrand{
        margin-top: 1em;
float: right;
    margin-right: 5em;
  }
  .forminside
  {
    display:none;
  }
//child topics
#strand{
   width: 40px;
    height: 44px;
    margin-top: 0px;
}
#add-field{
    // line-height: 44px;
    line-height: 44px !important;
    /* width: 40px; */
    font-size: 2em;
  }

.topicform{
      border: 1px solid grey;
    width: 76%;
    margin-left: 4em;
   
 }
  #topicfields{
      width: 89%;
    margin-left: 1.5em;
  }
  #topicbutton{
        margin-left: 3em;
    
    width: 40px;
    height: 44px;
    margin-top: 1em;
  }

  #subjectfont{
    font-size:2em;
  }
  
 